body {
	font-family: "Arial";
	background-image: url("images/pattern.jpg");
	background-repeat: repeat;
	background-size: 100%;
}

.food_card:hover {
	background-color: #DA627D;
	color: #1F1E21;
}

.food_card {
	max-width: 360px;
	max-height: 360px;
	align-content: center;
	background-color: #FCA17D;
	border-radius: 12px;
	text-align: center;
	padding: 16px;
	margin: 16px;
}

.food_picture {
	width: 100%;
    max-height: 320px;
    object-fit: contain;
}

.food_name {
	font-family: sans-serif;
	font-weight: bold;
	font-size: 22px;
	color: #E0FBFC;
}

.food_country {
	font-family: sans-serif;
	font-weight: bold;
	font-size: 22px;
	font-style: italic;
	text-align: center;
	color: #E0FBFC;
}

.footer {
	width: 19%;
	padding: 10px;
	margin-top: 10px;
	margin-left: 20px;
	min-height: 100%;
  	float: left;
  	background-color: #1F1E21;
  	color: #E0FBFC;
 	border-radius: 16px;
}


.food_page {
	background-color: red;
	display: inline-flex;
	size: 100%;
	flex-wrap: wrap;
}

.food_page_picture {
	background-color: green;
	max-width: 540px;
	max-height: 540px;
	align-content: center;
	border-radius: 12px;
	text-align: center;
	padding: 16px;
	margin: 16px;
}

.food_page_picture_image {
	width: 100%;
    max-height: 540px;
    object-fit: contain;
}

.food_page_header {
	width: 60%;
	float: right;
}

.food_page_name {
	background-color: blue;
}

.food_page_description {
	background-color: purple;
}

.food_page_info {
	background-color: orange;
}


/*  М Е Н Ю   */
.menu {
	width: 20%;
	float: left;
	margin-left: 24px;
	margin-top: 24px;
}

.menu_panel {
	background-color: #F9DBBD;
	width: 100%;
	min-height: 240px;
	float: center;
	border-radius: 24px;
	padding: 16px;
}

.title_href {
	text-decoration: none;
}

.menu_title {
	background-color: #DA627D;
	color: #373737;
	width: 100%;
	min-height:40px;
	float: center;
	border-radius: 24px;

	text-align: center;
	padding-top: 12px;
	padding-bottom: 12px;
}

.menu_list {
	background-color: #FAF3DD;
	width: 100%;
	min-height: 240px;
	float: center;
	border-radius: 24px;
}

.ad {
	background-color: #FAF3DD;
	width: 100%;
	max-height: 480px;
	float: center;
	border-radius: 24px;
	margin-top: 16px;
	margin-bottom: 16px;
	text-align: center;
	padding-top: 8px;
	padding-bottom: 8px;
	color: #FFFFFF;
}

.ad_image {
	object-fit: contain;
    float: center;
    width: 180px;
    object-fit: contain;
    float: center;
    border-radius: 36px;
}

.menu_footer {
	background-color: brown;
	max-width: 100%;
	min-height: 56px;
	float: center;
	border-radius: 24px;
	margin-top: 16px;
	text-align: left;
	padding-top: 8px;
	padding-left: 8px;
	color: #FFFFFF;
	font-family: Courier New;
}

.quote {
	background-color: black;
	max-width: 100%;
	min-height: 50px;
	float: center;
	border-radius: 24px;
	margin-top: 16px;
	text-align: left;
	padding: 18px;
	color: #FFFFFF;
	font-style: italic;
}

.map_href {
	text-align: center; 
	padding: 4px;
	margin-top: 8px;
	text-decoration: none;
}

.map_href:hover {
	background-color: #FAF3DD;
	border-radius: 12px;
}

/*  С Т Р А Н И Ц А  */
.page {
	background-color: #F9DBBD;
	width: 72%;
	min-height: 240px;
	float: right;
	border-radius: 24px;

	margin-right: 24px;
	margin-top: 24px;

	padding: 24px;

	display: inline-flex;
	size: 100%;
	flex-wrap: wrap;
}

.page_head {
	width: 100%;
	min-height: 240px;
	float: left;
	color: #373737;
}

.page_image_container {
	background-color: #DA627D;
	width: 38%;
	float: left;
	border-radius: 24px;
	text-align: center;
	padding-top: 24px;
	padding-bottom: 24px;
}

.page_image {
	width: 90%;
    object-fit: contain;
    float: center;
}

.page_info {
	width: 60%;
	min-height: 240px;
	float: right;
}

.page_name {
	width: 100%;
	min-height: 100px;
	padding-top: 12px;
	font-size: 22px;
	border-bottom: 4px solid #373737;
	margin-bottom: 8px;
	font-family: Georgia;
}

.page_short_info {
	width: 100%;
	min-height: 240px;
	font-size: 22px;
	line-height: 20pt;
}

.page_long {
	width: 100%;
	min-height: 240px;
	float: left;
	margin-top: 16px;
	font-size: 18px;
	line-height: 20pt;
}

.page_text {
	text-indent: 50px;
}

.page_analog {
	width: 100%;
	float: left;
	margin-top: 16px;
	padding-top: 8px;
	font-size: 22px;
	border-top: 4px solid #373737;
}

h1 {
	margin: 0;
}

h3 {
	margin-top: 0;
}